<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
 <head> 
</head> 
<body>
<div layout:fragment="content">
<h1 th:text="${title}"></h1> 
<form action="#" th:action="@{/orders/doUpdate}" th:object="${orderModel}" method="post"> 
 
 <div class="container">
 <input type="hidden" th:field="${orderModel.id}" name="id">
 
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Order Number</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{orderNo}" placeholder = "Order Number" name="orderNo" required>
  <div class="fieldError">
<p th:if="${#fields.hasErrors('orderNo')}" th:errors="*{orderNo}">Order Number Error</p>
</div>
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Product Name</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{productName}" placeholder = "Product Name" name="productName" required>
  <div class="fieldError">
<p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Product Name Error</p>
</div>
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Price</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{price}" placeholder = "Product Price" name="price" required>
  <div class="fieldError">
<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
</div>
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Quantity</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="*{quantity}" placeholder = "Quantity" name="quantity" required>
  <div class="fieldError">
<p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</p>
</div>
</div>
 
    <button type="submit" class="btn btn-primary">Update</button>  
  </div> 
  
<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
<div th:each="err : ${#fields.errors('*')}">
<span th:text="${err}" class="fieldError"></span>
</div>
          
 </div>   
  </form>
