<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layouts/defaultTemplate">
<head> 
<link rel="stylesheet"
	
</head>

<body>
<div layout:fragment="content" class="container-xl">
<h1 th:text="${title}"></h1> 
<!--<h2 th:text="${searchModel.searchTerm}"></h2>-->
<table class="table table-striped">
<tr class="table-primary">
<th>ID</th>
<th>Product Name</th>
<th>Price</th>
<th>Qty</th>
<th>Delete</th>
<th>Edit</th>
</tr>
<tr th:each="order : ${orders}">
<td th:text="${order.id}"></td>
<td th:text="${order.productName}"></td>
<td th:text="${order.price}"></td>
<td th:text="${order.quantity}"></td>
<td>

<form th:object="${orderModel}" th:action="@{doDelete}" th:method="post">
<input type="hidden" name="_method" th:value="${order.id}">
<button type="submit">Delete</button>
</form>

</td>
<td>
<form th:object="${orderModel}" th:action="@{doUpdate}" th:method="post">
<input type="hidden" name="_method" th:value="${order.id}">
<button type="submit">Update</button>
</form>


</td>
</tr>
<!--<a th:href="@{'editForm/' + ${order.id}}" class="btn btn-info" role="button">Edit</a> -->
 